debug/
release/
ui_*
Thumbs.db
Makefile*
object_script*
*.pro.user
*sha.qm
config.ini
swig/sanguosha_wrap.cxx
records/*
users.db
doc/*.html
.DS_Store
liblua5.1.dylib
font/font.ttf
*sha.pro.user*
etc/customScenes/custom_scenario.txt
*.dylib
image/*.bat
image/*.rcc
image/*.dat
image/generals/card2/*.*
lib/libcryptopp.a
src/core/crypt0.h
lua5*.dll
li*3.dll
QSanguo*.exe
