debug/
release/
ui_*
Makefile*
object_script*
*.pro.user
*sha.qm
config.ini
swig/sanguosha_wrap.cxx
records/*
users.db
doc/*.html
.DS_Store
liblua5.1.dylib
font/font.ttf
*sha.pro.user*
etc/customScenes/custom_scenario.txt
*.dylib
image/*.bat
image/*.rcc
image/generals/card2/*.*
lib/libcryptopp.a
QSanguosha.exe
